.homePage {
  height: 100%;
  background-image: url('../assets/images/home.min.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  text-align: center;
}

.loginBox {
  margin: 0 auto;
}
